/**
 * Related
 */
.related-articles {
  margin-top: 60px;
}

.related-articles__text {
  border-bottom: 3px solid #e2e2e2;
  font-weight: 600;
  font-size: 24px;
}

.related-articles__links {
  margin-top: 24px;
}

.related-articles__links__item + .related-articles__links__item {
  margin-top: 28px;
}

.related-article__link {
  transition: 0.4s cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
  font-weight: 600;
  font-size: 18px;
  color: #363636;
}

.related-article__link:hover {
  color: #d84817;
}

.related-article__stock {
  font-family: "Lato", sans-serif;
  color: #8d8d8d;
}

.related-article__tags {
  text-align: left;
}

.related-article__tags span + span:before {
  content: ',';
  font-family: "Lato", sans-serif;
  color: #8d8d8d;
}


/**
 * Post
 */
.post-item .title {
  line-height: 1.5;
}

.post-header .title {
  line-height: 1.6;
}

.post-footer {
  margin-top: 30px;
}

/**
 * Adsense
 */
.ads {
  margin: 4% auto;
}

/**
 * Share Btn
 */
.content-footer__sns-list {
  text-align: center;
}

.content-footer__sns-item {
  display: inline-block;
  vertical-align: middle;
}

.content-footer__sns-item + .content-footer__sns-item {
  margin-left: 1%;
}

.content-footer__sns-item .button {
  padding: 1.2em 1.2em;
  border-radius: 3px;
}

.content-footer__sns-item .button .button__link {
  font-weight: 600;
  color: #ffffff;
}

.content-footer__sns-item .button .button__link .icn--hatena:before {
  content: "B!";
  font-family: Verdana;
  font-weight: bold;
  font-style: normal;
}

@media (max-width: 768px) {
  .content-footer__sns-item .button .button__link span {
    display: none;
  }
}

.button--sns--tw {
  background-color: #55acee;
}

.button--sns--fb {
  background-color: #315096;
}

.button--sns--hb {
  background-color: #008fde;
}

.button--sns--po {
  background-color: #ef4056;
}
